body{
    border: solid black 5px;
    border-radius: 30px;
  
}

#nav{
    display: flex;
    gap: 7%;
    font-size: 20px;
    margin-left: 5%;
}

.baims{
    font-size: 40px;

}

.courses{
    padding-top: 36%;
}

.searchInput{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 15px  80px;
    border-radius: 40px;
    margin-top: 8%;

}

#search{
    color: gray;
    position: absolute;
    top: 7%; 
    left: 30.7%;  
    text-align: center;
    cursor: pointer;
}

.instructor{
    padding-top: 23%;
    cursor: pointer;
   
}

.signin{
padding: 10px 25px;
font-size: 20px;
border-radius: 40px;
border: none;
margin-top: 0.5%;
background-color: white;
cursor: pointer;

}
.signup{
padding: 10px 25px;
border-radius: 40px;
font-size: 20px;
color: white;
background-color: black;
margin-top: 0.5%;
border: none;
cursor: pointer;

}

.arrow{
    width: 20px;
    height: 20px;
}


.a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

#landingpage{
    display: flex;
    gap: 10%;
    margin-left: 5%;
    margin-top: 3%;
    background-color: rgb(250,207,204);
    
}

.studyoptions{
    font-size: 80px;
    font-weight: bold;
    padding-top: 13%;
}

.numberOfcourses{
  font-size: 22px;
}


.landingpageImage{
    width:900px ;
    height:600px ;

}

.searchcourses{
    font-size: 20px;
    padding: 20px 90px;
    border-radius: 40px;
    cursor: pointer;
}

#search2{
    color: gray;
    position: absolute;
    cursor: pointer;
    top: 70%; 
    left: 7.7%; 
    cursor: pointer; 

}

#ratings{
    display: flex;
    gap: 5%;
    margin-left: 10%;
}

.rate{
 font-size: 40px;
 font-weight: bold;
}

.raters{
 font-size: 25px;
 padding-bottom: 30%;
}

#navbar{
    background-color: rgb(250,207,204);
border-top-left-radius: 30px;
border-top-right-radius:30px ;
}


@media all and (min-width:280px) and (max-width:1024px){


    body{
        border: solid black 5px;
        border-radius: 20px;
      
    }
    
    #nav{
        display: grid;
        gap: 2%;
        font-size: 20px;
        margin-left: 0%;

    }
    
    .baims{
        font-size: 25px;
    
    }
    
    .courses{
        padding-top: 6%;
        font-size: 20px;
    }
    
    .searchInput{
        text-decoration: none;
        color: black;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 10px;
        margin-top: 2%;
    
    }
    
    
    .instructor{
        padding-top: 2%;
        cursor: pointer;
        font-size: 20px;
       
    }
    
    .signin{
    padding: 4px 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 0.5%;
    background-color: white;
    cursor: pointer;
    
    }
    .signup{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: black;
    margin-top: 0%;
    border: none;
    cursor: pointer;
    
    }
    
    .arrow{
        width: 10px;
        height: 10px;
    }
    
    
    .a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        cursor: pointer;
    }
    
    #landingpage{
        display: flex;
        gap: 5%;
        margin-left: 0%;
        margin-top: 8%;
        background-color: rgb(250,207,204);
        
    }
    
    .studyoptions{
        font-size: 15px;
        font-weight: bold;
        padding-top: 4%;
    }
    
    .numberOfcourses{
      font-size: 15px;
    }
    
    
    .landingpageImage{
        width:120px ;
        height:110px ;
    
    }
    
    .searchcourses{
        font-size: 10px;
        padding: 6px 20px;
        border-radius: 20px;
        cursor: pointer;
    }
    
   
    
    
    #ratings{
        display: flex;
        gap: 2%;
        margin-left: 2%;
    }
    
    .rate{
     font-size: 20px;
     font-weight: bold;
    }
    
    .raters{
     font-size: 15px;
     padding-bottom: 15%;
    }
    
    #navbar{
        background-color: rgb(250,207,204);
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
    }

}
